* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background-image: url(./assets/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 2.313rem;
  margin-right: 2.313rem;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.download .logo {
  height: 19em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 7.8rem;
}

.title > h1 {
  max-width: 700px;
  text-align: center;
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 600;
  margin-bottom: 2.438rem;
  color: hsl(210, 10%, 33%);
}

.download .text {
  max-width: 700px;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 3.438rem;
  color: hsl(201, 11%, 66%);
}

.download .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.button-ios button {
  background-color: #6ee2d1;
}

.button-mac button {
  background-color: #8897ff;
}

.button-ios button,
.button-mac button {
  border: none;
  width: 15rem;
  border-radius: 2rem;
  padding: 1.125rem;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.button-ios button:hover,
.button-mac button:hover {
  opacity: 80%;
  box-shadow: 2px 4px 4px -1px rgba(112, 112, 112, 0.35);
  -webkit-box-shadow: 2px 4px 4px -1px rgba(112, 112, 112, 0.35);
  -moz-box-shadow: 2px 4px 4px -1px rgba(112, 112, 112, 0.35);
}

/* ------------------ */

.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snippet-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snippet-body {
  display: flex;
  align-items: center;
  margin-bottom: 9rem;
}

h2 {
  max-width: 700px;
  text-align: center;
  font-size: 2.3rem;
  line-height: 2.6rem;
  font-weight: 600;
  margin-bottom: 2.438rem;
  color: hsl(210, 10%, 33%);
}

.text {
  max-width: 700px;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 3.438rem;
  color: hsl(201, 11%, 66%);
}

.snippet-body-image {
  width: 50%;
}

.snippet-body-image img {
  width: 162%;
  position: relative;
  right: 64%;
}

.snippet-body-highlights {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 10px;
}

.highlight .subtitle h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;

  color: hsl(210, 10%, 33%);
}

.snippet-text {
  max-width: 335px;
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}

.access img {
  width: 100%;
}

.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}

.workflow-body {
  display: flex;
  flex-direction: column;
}

.workflow-body-highlights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 90px;
  margin-bottom: 7rem;
}

.workflow-body-highlights > .highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.workflow-body-highlights > .highlight img {
  margin-bottom: 35px;
}

.workflow-body-highlights > .highlight h3,
.tex {
  text-align: center;
  line-height: 1.8rem;
  align-items: center;
}

.workflow-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8rem;
  row-gap: 90px;
}

.workflow-logos .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.download-2 .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@media (max-width: 670px) {
  .workflow-body-highlights {
    display: flex;
    flex-direction: column;
  }

  .workflow-logos {
    display: flex;
    flex-direction: column;
  }

  .snippet-body {
    display: flex;
    flex-direction: column;
  }
  .snippet-body-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .snippet-body-image img {
    width: 95%;
    position: static;
  }

  .snippet-body-highlights {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }

  .highlight .subtitle h3 {
    text-align: center;
  }

  .snippet-text {
    text-align: center;
    min-width: 20.938rem;
  }
}

@media (max-width: 390px) {
  body {
    background-image: url(/assets/images/bg-header-mobile.png);
    background-repeat: no-repeat;
  }
}
